<div class="page-color">
  <div class="row hauteur">
    <div class="bg-blue">
      <div class="col-md-2" >
      </div>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">
          <%= render "pagedown", transcription_id: @transcription.id, author_surname: @author_surname %>
          Facsimile
        </h1>
        <div class="wrapper-facsimile viewer" id="viewer_2">
          <div class="bg-white">
            <%= image_tag (@first_loaded_facsimile) %>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">
          Transcription
          <%= render "pageup", transcription_id: @transcription.id, author_surname: @author_surname %>
        </h1>
        <div class="wrapper-transcription bg-white">
          <div class="texte-transcription" id="page-transcription">
            <%= raw(@first_loaded_page) %>
          </div>
        </div>
      </div>
      <div class="col-md-2" >
      </div>
    </div>
  </div>
  <div class="text-center">
    <h5><i>Manuscrit conservé à la Bibibliothèque Municipale de Reims</i></h5>
    <%= image_tag("logos-bibliotheques/bibliotheque_reims.jpg", :class => "logo-resize") %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".viewer").zoomer();
      $(window).on("resize", function() {
        $(".wrapper_2").zoomer("resize");
      });
    });
  </script>
<% end %>









