<div class="page-color">
  <div class="row hauteur">
    <div class="bg-blue">
      <div class="col-md-2" >
      </div>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">
          <%= render "pagedown", transcription_id: @transcription.id, author_surname: @author_surname %>
          Facsimile
        </h1>
        <section>
        <div class="wrapper-facsimile">
          <div class="bg-white viewer">
            <%= image_tag (@first_loaded_facsimile) %>
          </div>
          <div class="buttons">
            <button class="zoom-in">Zoom In</button>
            <button class="zoom-out">Zoom Out</button>
            <input type="range" class="zoom-range">
            <button class="reset">Reset</button>
        </div>
        </div>
      </div>
      </section>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">
          Transcription
          <%= render "pageup", transcription_id: @transcription.id, author_surname: @author_surname %>
        </h1>
        <div class="wrapper-transcription bg-white">
          <div class="texte-transcription" id="page-transcription">
            <%= raw(@first_loaded_page) %>
          </div>
        </div>
      </div>
      <div class="col-md-2" >
      </div>
    </div>
  </div>
  <div class="text-center">
    <h5><i>Manuscrit conservé à la Bibibliothèque Municipale de Reims</i></h5>
    <%= image_tag("logos-bibliotheques/bibliotheque_reims.jpg", :class => "logo-resize") %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    (function() {
      var $section = $('section').first();
      $section.find('.viewer').panzoom({
        $zoomIn: $section.find(".zoom-in"),
        $zoomOut: $section.find(".zoom-out"),
        $zoomRange: $section.find(".zoom-range"),
        $reset: $section.find(".reset")
      });
    })();
  </script>
<% end %>









