

<div class="page-color">
  <div class="row hauteur">
    <div class="bg-blue">
      <div class="col-md-2" >
      </div>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">Facsimile</h1>
        <div class="wrapper-facsimile viewer">
          <div class="bg-white">
          <%= image_tag ("maillefer/maillefer-1r.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <h1 class="text-center margin-titre">
          Transcription
          <%= render "pageup" %>
        </h1>
        <div class="wrapper-transcription bg-white">
          <div class="texte-transcription">
            <%= raw("<br><i><b>Pagination manuscrit : #{@array_page_numbers[@displayed_page]}</b></i><br>" + @transformed_document.to_s[/#{Regexp.escape("<br><i><b>Pagination manuscrit : #{@array_page_numbers[@displayed_page]}</b></i>")}(.*?)#{Regexp.escape("<br><i><b>Pagination manuscrit : #{@array_page_numbers[@displayed_page + 1]}</b></i>")}/m, 1]) %>
          </div>
        </div>
      </div>
      <div class="col-md-2" >
      </div>
    </div>
  </div>
  <div class="text-center">
    <h5><i>Manuscrit conservé à la Bibibliothèque Municipale de Reims</i></h5>
    <%= image_tag("logos-bibliotheques/bibliotheque_reims.jpg", :class => "logo-resize") %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".viewer").zoomer();
      $(window).on("resize", function(e) {
        $(".wrapper_2").zoomer("resize");
      });
    });
  </script>
<% end %>







