<div>
  <div class="form-session">
    <div>
      <h4 class="form-title">Please Sign in or Register</h4>
    </div>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    </div>
    <div class="text-center" id="box-email">
      <%= f.input :email, required: false, autofocus: true, label: "Email address" %>
    </div>
    <div class="text-center" id="box-password">
      <%= f.input :password, required: false, label: "Password" %>
    </div>
    <div id="box-btn-register">
      <%= f.button :submit, "Enter", class: "btn btn-primary" %>
    </div>
    <div id="remember-me">
    <%= f.input :remember_me, label: "Remember me", as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div>
      <% end %>
    </div>
    <div class="text-center" id="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div>
  <%= image_tag("homepage/neudoerffer_bnf.jpg", class: "img-responsive min-size-img") %>
</div>
<div class="bg-white">
  <h4 class="interligne">
    <i>Reading and Researching Egodocuments Through a Digital and <strong>European</strong> Approach</i>
  </h4>
</div>